.UserSection{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.UserProfile{
    width: 60%;
}
.UserProfile div{
   
    display: flex;
    font-weight: bold;
   
}
#imageContainer img{
    background-color: rgba(56, 116, 116, 0);
    margin-right: 0px;
    width: 280px;
    height: 300px;
    border-radius: 50%;
    border-width: 5px;
   
    border-color: black;
}
.Repositories{
    margin-top: 300px;
    display: flex;flex-direction: column;
}
.pagination ul{
    justify-content: center;
    /* margin-left: 45%; */
}