.body{
    background-color: black !important;
}
.UserSection{
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.UserProfile{
    width: 60%;
}
.UserProfile div{
   
    display: flex;
    font-weight: bold;
   
}
.NameHolder
{
    margin-top: 5rem;
}
#imageContainer{
    border-color: black;
    margin-left: 100px;
    border: black 5px ;
    width: fit-content;
    padding-bottom: 10%;
}

#imageContainer img{
    /* background-color: rgba(56, 116, 116, 0); */
    margin-bottom: 50px;
    width: 280px;
    height: 300px;
    border-radius: 50%;
    
}
.Repositories{
    margin-top: 300px;
    display: flex;flex-direction: column;
}
.pagination ul{
    justify-content: center;
}
.col-12{
    position: relative;
    justify-content: center;
    align-items: center;
}
.card{
    border-color: black;
    border-width: 300px;
    margin-top: 15px;
    left: 45%;
}
#product_container .productBox img{
    height: 170px;
    object-fit: contain;
    margin-bottom: 1.5rem;
}
#product_container .productBox h4{
    font-size: 18px;
    text-transform: capitalize;
    color: #084298;
}
#product_container .productBox p{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.pgBtns button {
    border: none;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
    width: 34px;
}

